<!DOCTYPE html>
<html>
<head>
	<img src="/gfx/haiVoPic.png">
</head>
<body>
	<div>
		<h2>About YoBase </h2>
			<p>YoBase is a customizable browser home page that allows user to add and delete their favorite tabs to their
			home page, so users could access their tabs at a faster speed!</p>
		<h2>About Us </h2>
			<p>We are UCSC computer science students that thought internet browsers like you
			deserve a more user friendly and customizable home page to support your 
			daily internet activities.</p>
	</div>
</body>
</html>
