<!DOCTYPE html>
<html>
<head>
	<img src="/gfx/haiVoPic.png">
</head>
<body>
	<div>
		<h2>Hai Vo </h2>
			<p>Hai Vo is the product owner of this project, Email him at hqvo@ucsc.edu</p>
		<h2>The Team </h2>
			<p>Andy Ly, aly9@ucsc.edu</p>
			<p>Luis Nunez, lanunez@ucsc.edu</p>
			<p>Steven Yeng, syeng@ucsc.edu</p>
			<p>Duke Lee, dlee32@ucsc.edu</p>
			<p>Craig Hu, cryhu@ucsc.edu</p>
	</div>
</body>
</html>
